@use "variables" as *;

.loading {
    @include loading-background-skeleton();
}

.profile-card-skeleton-loading {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    .img {
        width: $large-avatar-size;
        height: $large-avatar-size;
        border-radius: 50%;
    }
    .profile-card-skeleton-body {
        width: max-content;
        padding: 12px 24px;
        width: 80%;
        .title,
        .text {
            margin: 6px 0;
            height: 12px;
            border-radius: 6px;
        }
        .title {
            width: 100%;
        }
        .text {
            width: 80%;
        }
    }
}

body[data-theme="dark"] {
    .loading {
        background-color: rgba($white-color, 0.2);
    }
}
