@use "../variables" as *;

.header-post {
    .profile-link {
        .nickname {
            font-size: $medium-font-size;

            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.6;
            }
        }
    }

    .extension {
        cursor: pointer;
        &:hover {
            color: $gray-color;
        }
        &:active {
            opacity: 0.8;
        }
    }
}

body[data-theme="dark"] {
    .header-post {
        background-color: $black-color;
        color: $white-color;

        .timeline {
            color: $gray-color;
        }
    }
}
