@use "../variables" as *;

@keyframes popUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.post {
    width: $post-width;
    border-bottom: 1px solid $separator-light-color;

    .post-body {
        border-color: transparent;

        .wrapper-image {
            background-color: rgba($color: $black-color, $alpha: 0.02);
            padding-top: 100%;
            &.loading {
                @include loading-background-skeleton();
            }
        }

        .card-body {
            padding: 0;

            .post-img {
                @include fit-image();
            }

            .caption {
                margin-top: 8px;
                font-size: $medium-font-size;
                .text {
                    &.hide {
                        @include limit-line();
                    }
                }
                .view-more {
                    color: $gray-color;
                    cursor: pointer;
                }
            }
        }
    }
}

body[data-theme="dark"] {
    .post {
        border-bottom: 1px solid $separator-dark-color;
        background-color: $black-color;

        .timeline {
            color: $gray-color;
        }

        .nickname,
        .post-body {
            background-color: $black-color;
            color: $white-color;
        }

        .quick-comment-input::placeholder {
            color: $light-black-color;
        }
    }
}
