@use "../variables" as *;
@use "sass:map";

$height-modal: calc(100vh - 34px - 34px);

.post-modal-width {
    max-width: calc(100% - 64px - 64px);
    min-width: 500px;
}

.post-modal {
    .modal-content {
        margin: auto;
        max-height: calc(100vh - 40px);
        height: $height-modal;
        border: none;
        background-color: transparent;
    }
    &-body {
        min-height: 14vmax;
        .image-post {
            width: $height-modal; // make square
            &.loading {
                @include loading-background-skeleton();
            }
            .image {
                height: 100%;
                @include fit-image();
            }
        }
        .interaction-part {
            max-width: $post-width;
            width: 100%;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-left: 1px solid $separator-light-color;
            background-color: $white-color;

            .header {
                border-bottom: 1px solid $separator-light-color;
            }
            .caption-and-comments {
                flex: 1;
                height: 80%;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .status-bar {
                margin-top: 4px;
                border-top: 1px solid $separator-light-color;
                border-bottom: 1px solid $separator-light-color;
            }
            .form-comment {
                min-height: 30px;
            }
        }
    }
}

@media (max-width: map.get($grid-breakpoints, lg)) {
    .post-modal {
        .modal-content {
            max-height: 50vw;
        }
    }
}

body[data-theme="dark"] {
    .post-modal {
        &-body {
            .interaction-part {
                background-color: $black-color;
                border: 1px solid $separator-dark-color;

                .header {
                    border-color: $separator-dark-color;
                }
                .nickname,
                .text {
                    color: $white-color;
                }
                .status-bar {
                    border-color: $separator-dark-color;
                }
            }
        }
    }
}
